target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log
*.flattened-pom.xml

### NetBeans ###
nbproject/private/
build/
dist/
nbbuild/
nbdist/
.nb-gradle/
obj/
bin/
node_modules/

### Mac files ###
*.DS_Store
/python/socketd/socketD.egg-info/
